.account {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.account h1 {
  color: var(--color-danger);
}

.account input:focus {
  box-shadow: none;
}

.account a {
  color: var(--color-primary) !important;
  transition: all 0.3s;
}

.account a:hover {
  color: var(--color-danger) !important;
}

.account img {
  animation: slide-down 0.5s ease;
}

.form {
  box-shadow: var(--box-shadow);
  animation: slide-up 0.5s ease;
}

.google {
  background: var(--color-danger) !important;
  border: none !important;
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account button {
  transition: all 0.3s !important;
  font-size: 16px !important;
}

.account button:hover {
  letter-spacing: 1.1px;
}

@keyframes slide-up {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
