header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  background: var(--color-white);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  z-index: 10;
}

.logo {
  flex: 1;
  z-index: 3;
}

.logo a {
  font-size: 26px;
  background: linear-gradient(to right, var(--light-blue), var(--color-danger));
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}

.nav {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.nav a {
  font-size: 15px;
  color: var(--color-black);
  font-weight: 600;
  transition: color 0.3s;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: transform 0.3s;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--color-primary);
  width: 100%;
  z-index: -1;
  transform: scale3d(0, 1, 1);
  transform-origin: center;
}

.nav a:hover:after {
  transform: scale3d(1, 1, 1);
}

.nav a:hover {
  color: var(--color-primary);
}

.nav .active {
  color: var(--color-primary);
}

.nav .active::after {
  transform: scale3d(1, 1, 1);
}

.nav .user-name::after {
  border: none;
}

.nav .menu-item {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
}

.nav span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.nav .header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  gap: 15px;
}

.nav .header-right span {
  padding: 5px;
}

.nav .header-right span .active {
  border: none;
}

.cart {
  position: relative;
  width: 65px;
  padding: 8px !important;
  transition: all 2s ease-in;
}

.cart a::after {
  border: none;
}

.cart span {
  color: var(--color-white) !important;
  position: absolute;
  right: 3px;
  top: -5px;
  font-size: 12px;
  border: none !important;
  background: var(--color-black);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.sub-menu {
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

@media screen and (max-width: 876px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--color-white);
    width: 50%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    overflow: hidden;
  }

  .nav a::after {
    border: none;
  }

  .nav .menu-item span a {
    margin-left: 20px;
  }
  .nav .header-right span {
    border-radius: 0;
  }
  .nav .header-right span a {
    margin-left: 20px;
  }
  .nav span {
    width: 100%;
    transition: all 0.3s;
    border: none !important;
    padding: 0 !important;
    margin: 0px;
  }
  .nav span:hover {
    background: var(--light-gray);
  }
  .nav span a {
    transition: all.3s;
    margin-left: 20px;
    padding: 2px;
    width: 100%;
    font-size: 16px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    border-bottom: 1px solid var(--color-black);
    width: 100%;
    padding-bottom: 10px;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
  }
  .nav .cart {
    display: none;
  }

  .hide-nav {
    transform: translateX(-100%);
  }
  .sub-menu {
    display: flex;
    align-items: center;
  }
  .sub-menu span a {
    transition: all 0.3s;
  }
  .sub-menu span a:hover {
    color: var(--color-orange);
  }

  .sub-menu .cart span {
    left: 15px;
    top: 4px;
  }

  .active {
    border: none;
  }
  .black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    opacity: 0.5;
    z-index: -1;
    cursor: pointer;
  }
}
